<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpotifyDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpotifyDownloader.Properties.Settings>
            <setting name="ClientId" serializeAs="String">
                <value>bd072f28c9de4e77948dcb5a4c60326f</value>
            </setting>
            <setting name="SecretId" serializeAs="String">
                <value>5f2dfa6780ad49259e43e6a65a28ceba</value>
            </setting>
        </SpotifyDownloader.Properties.Settings>
    </userSettings>
</configuration>